section {
    background-color: white;
    width: 60%;
    margin: 3% auto;
    border-radius: 15px;
    padding: 2%;
}

.tasks {
    display: flex;
    justify-content: space-between;
    padding: 5px 0
}

.main-text {
    margin-bottom: 5%;
}

.add-btn {
    margin-top: 10px;
}